@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
td,th,caption { font-size:12px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a{color:#069; text-decoration:none;}
a:hover{ text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px "微软雅黑","宋体",Verdana, Arial, Helvetica, sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: auto;} 
/* css common */
.clearfix:after {content: ""; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body {background:#fff;color:#666;font-size:14px;font-family:"微软雅黑","宋体",Verdana, Arial, Helvetica, sans-serif; }
.last {margin-right: 0;}

.header {
	width: 100%;
	height: 90px;
	background: #e83828;
	border-bottom: 1px solid #f19675;
}

.header-in {
	width: 1000px;
	height: 90px;
	margin: 0 auto;
}

.logo {
	margin-top: 15px;
	float:left;
}

.nav {
	margin-top: 48px;
	width: 600px;
	height: 30px;
	float: right;
}

.nav ul {
	width: 600px;
	text-align: center;
	height: 30px;	
}

.nav li {
	float: left;
	width: 100px;
	height: 30px;
	line-height: 30px;
}

.nav li a {
	display: block;
	color: #fff;
	font-size: 14px;
}

.banner {
	width: 100%;
	height: 663px;
}

.banner-inner {
	width: 100%;
	height: 663px;
}

.banner-inner .item {
	width: 100%;
	height: 663px;
}

.slogan {
	width: 100%;
	height: 250px;
	border-bottom: 1px solid #a2a3a3;
	text-align: center;
}

.slogan h3 {
	color: #e83828;
	font-size: 46px;
	padding-top: 76px;
}

.slogan h4 {
	color: #595757;
	padding-top: 16px;
	font-size: 32px;
}

.process {
	width: 100%;
	height: 410px;
	border-bottom: 1px solid #a2a3a3;
	border-top: 1px solid #c4c5c5;
	text-align: center;
}

.process-ttl {
	width: 438px;
	height: 70px;
	margin: 50px auto;
	text-align: center;	
}

.process-list {
	width: 1000px;
	height: 182px;
	margin: 0 auto;
}

.process-list li {
	width: 200px;
	float: left;
}

.process-list li a {
	width: 145px;
	height: 145px;
	display: block;
}

.process-list img.process-view {
	width: 145px;
	height: 145px;
}

.process-list img.process-info {
	display: none;
	width: 145px;
	height: 145px;
}

.solution {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.solution-way {
	width: 1000px;
	height: 218px;
	margin: 0 auto;
}

.solution-way li {
	float: left;
	margin-right: 6px;
}

.solution-way li a {
	display: block;
}

.solution-slogan {
	font-size: 21px;
	color: #666;
	padding: 20px 0;
}

.solution-tech {
	width: 1000px;
	margin: 0 auto;
}

.solution-tech li {
	float: left;
	margin-right: 42px;
	margin-top: 30px;
}

.solution-tech li a {
	display: block;
}

.joinus {
	width: 100%;
	padding: 50px 0;
	background: #f7f7f7;
	z-index: 990;
}

.joinus-in {
	width: 1000px;
	height: 500px;
	border: 1px solid #868686;
	margin:0 auto;
	position: relative;
	z-index: 1;
}

.joinus-in .photo-b {
	position: absolute;
	width: 250px;
	height: 250px;
	z-index: 998;
}

.joinus-in .photo-s {
	z-index: 998;
	width: 124px;
	height: 125px;
	position: absolute;
	border-right: 1px solid #b0b0b1;
	border-bottom: 1px solid #b0b0b1;
}

.joinus-in .no-bphoto {
	border-right: 1px solid #b0b0b1;
}

.joinus-in .photo-b img{
	width: 250px;
	height: 250px;
}

.joinus-in .photo-s img{
	width: 125px;
	height: 125px;
}

.joinus-in .joinus-intro {
	overflow: hidden;
	position: absolute;
	left: 250px; 
	top: 0;
	z-index: 999;
	width: 375px;
	height: 250px;
	display: none;
	background: #e83828;
}

.joinus-intro h3{
	color: #fff;
	font-size: 28px;
	padding-top: 40px;
	padding-left: 15px;
}

.joinus-intro p.title{
	color: #fff;
	font-size: 14px;
	padding-top: 15px;
	padding-left: 15px;
}

.joinus-in .joinus-intros {
	overflow: hidden;
	position: absolute;
	left: 125px; 
	top: 0;
	z-index: 999;
	width: 250px;
	height: 125px;
	display: none;
	background: #e83828;
}

.joinus-intros h3{
	color: #fff;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 15px;
}

.joinus-intros p.title{
	color: #fff;
	font-size: 14px;
	padding-top: 15px;
	padding-left: 15px;
}

.joinus-intros p.desc{
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 10px;
}


.joinus-intro p.desc{
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 10px;
}


.joinus-in .joinus-empty {
	width: 124px;
	height: 250px;
	border-right: 1px solid #b0b0b1;
	border-bottom: 1px solid #b0b0b1;
	float: left;
}

.joinus-in .joinus-add {
	width: 248px;
	height: 502px;
	float: right;
	text-align: center;
}

.joinus-add button {
	cursor: pointer;
	width: 174px;
	height: 173px;
	border: 0;
	outline: 0;
	margin-top: 100px;
	background: url(../images/joinbtn.png) center no-repeat;
}

.joinus-add .joinus-ttl {
	width: 240px;
	margin: 20px auto;
}

.parnter {
	width: 100%;
	text-align: center;
}

.parnter-slogan {
	color: #666;
	font-size: 16px;
	line-height: 30px;
}

.parnter-list {
	margin: 50px auto;
	width: 1000px;
	height: 274px;
}

.parnter-list table {
	width: 100%;
	height: 100%;
}

.parnter-link {
	display: block;
	width: 140px;
	height: 90px;
	position: relative;
}

.parnter-img {
	width: 140px;
	height: 90px;
}

.footer {
	width: 100%;
	height: 150px;
	background: #f7f7f7;
	text-align: center;
}

.footer p.link {
	padding-top: 50px;
	font-size: 14px;
}

.footer p.link a {
	color: #666;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 120px;
	margin: 0 10px;
}

.footer p.copyright {
	padding-top: 20px;
	font-size: 14px;
}

.main {
	width: 100%;
}

.content {
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0;
}

.other-left {
	width: 180px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	float: left;
	border: 1px solid #edf1f2;
	padding: 0 20px;
}

.other-left li {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #edf1f2;
}

.other-left li.selected a {
	border-left: 2px solid #e83828;
}

.other-left li a {
	display: block;
	color: #666;
	margin-left: -20px;
	padding-left: 30px;
	position: relative;
	left: -1px;
}

.other-left li a:hover {
	color: #14191e;
}

.other-right {
	border: 1px solid #edf1f2;
	width: 760px;
	margin-left: 238px; 
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.other-right-in {
	padding: 10px 40px;
}

.other-right-in h2 {
	font-size: 18px;
	padding: 10px 0;
	border-bottom: 1px solid #edf1f2;
	margin-bottom: 30px;
}

.other-right-dl {
	padding-left: 20px;
}

.other-right-dl dt {
	padding-left: 26px;
	background: url(../images/faq.jpg) no-repeat;
	padding-bottom: 8px;
}

.other-right-dl dd {
	padding-left: 26px;
	margin-bottom: 20px;
	line-height: 24px;
}

.team-big-ad{
	width: 760px;
	height: 400px;
}

.team-big-ad img {
	width: 760px;
}

.team-small-mix li {
	height: 190px;
	float: left;
}

.team-small-mix img.team-small-ad {
	width: 190px;
}

.team-small-mix img.team-small-big {
	width: 380px;
}

.hire-para {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 20px;
	text-indent: 2em;
}

.hire-img-left {
	float: left;
	width: 125px;
	height: 125px;
	margin-right: 20px;
}

.hire-img-right {
	float: right;
	width: 125px;
	height: 125px;
	margin-left: 20px;
}

.hire-jobs {
	padding: 30px 0;
	border-top: 1px solid #edf1f2;
}

.hire-jobs a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 25px;
	color: #666;
	font-size: 16px;
}

.hire-jobs-block {
	margin-bottom: 100px;
}

.hire-jobs-block h3{
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.hire-jobs-block p {
	line-height: 28px;
}

.hire-jobs-block ol {
	margin-left: 15px;
}

.hire-jobs-block ol li {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}

.contact-block {
	height: 200px;
}

.contact-block h2{
	font-size: 16px;
	border: 0;
	margin-bottom: 0;
}

.contact-block h3{
	font-size: 16px;
	border: 0;
	margin-bottom: 15px;
}

.contact-block li {
	margin-right: 60px;
	width: 310px;
	border-bottom: 1px solid #edf1f2;
	float: left;
}

.contact-block li p {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 15px;
}

.incuba-block {
	margin-top: 100px;
}

.incuba-block li{
	position: relative;
	margin-right: 35px;
	float: left;
}

.incuba-block li img {
	width: 100px;
}

.incuba-desc-top {
	position: absolute;
	left: -20px;
	top: -70px;
	height: 60px;
	width: 150px;
	line-height: 20px;
	border-bottom: 2px solid #edf1f2;
}

.incuba-desc-bot {
	position: absolute;
	left: -20px;
	bottom: -70px;
	height: 60px;
	width: 150px;
	line-height: 20px;
	border-top: 2px solid #edf1f2;
}

#company-map {
	width: 100%;
	height: 400px;
}